<p>写真を見ながら数値を書いてね</p>
<div class="col-xs-12">
    <div class="col-xs-12">
      <% if @photo.image? %>
          <%= image_tag @photo.image.url , class: "img-responsive img-thumbnail" %>
      <% end %>
    </div>
    <label class="col-xs-3 control-label">日時</label>
    <div class="col-xs-9">
    <%= @photo.item_date %>
                <%=
                    if @photo.item_time then @photo.item_time.to_s(:time) end
                %>
    </div>
</div>
 
<div class="form-horizontal" role="form">
    <%= form_for(@photo) do |f| %>
        <div class="form-group"><!-- タブレットの時は1段組、それ以外は2段組 -->
            <label class="col-xs-3 control-label">きろく</label>
            <div class="col-xs-9 btn-group-lg dropup">
                <%= f.select :item_name ,[["体重のきろく", "体重"] ,["朝食のきろく", "朝食"] ,["昼食のきろく", "昼食"] ,["夕食のきろく", "夕食"] ,["食事のきろく", "食事のきろく"] ], {},  class: "btn btn-default dropdown-toggle form-control" %>
            </div>
        </div>
        <div class="form-group"><!-- タブレットの時は1段組、それ以外は2段組 -->
            <label class="col-xs-3 control-label">体重</label>
            <div class="col-xs-9">
                <%= f.text_field :item_value, class: 'form-control input-lg', type: 'number', step: '0.01', min: '1', max: '150',  placeholder: '体重' %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <%= f.submit "送信" , class: 'btn btn-primary btn-large btn-block' %>
            </div>
        </div>
        <span class="btn btn-default">
            <%= link_to "削除" , @photo , method: :delete, data: {confirm: '削除してもよろしいですか？'} %>
        </span>
    <% end %>
</div>
<h5>（参考）Google vision による写真解析結果</h5>
<span class="col-xs-3">この写真に写っているのは</span>
<span class="col-xs-9">「<%= @photo.content %>」かも</span>




