<div class="col-xs-6" >
<div class="item-box">
    <div class="image">
      <div class="img-wrap">
            <% if photo.image? %>
                <%= image_tag (photo.image.thumb.url), class: "img-responsive" %>
            <% end %>
        </div>
    </div>
    <div class="action clearfix">
        <span class="label label-info"><%= photo.item_name %></span>
            <%= photo.item_value %>
            <%= photo.item_date %>
        <span class="btn btn-default">
            <%= link_to "編集" , edit_photo_path(photo) %>
        </span>
    </div>
</div>

</div>
