<div class="col-xs-12" >
    <br>
<% if photo.user_id == params[:id].to_i %>
    <div style="text-align:right">
    <%= photo.item_date %>
    <%= if photo.item_time then photo.item_time.to_s(:time) end%>
    </div>
    <div style="text-align:right">
    <%= User.find(photo.user_id).name %>さんの投稿
    </div>
    <div class="bubble bubble-right">
<% else %>
    <div style="text-align:left">
    <%= photo.item_date %>
    <%= if photo.item_time then photo.item_time.to_s(:time) end%>

    </div>
    <div style="text-align:left">
    <%= User.find(photo.user_id).name %>さんの投稿
    </div>
    <div class="bubble bubble-left">

<% end %>

<div class="item-box">
    <div class="image">
      <figure class="relative">
            <% if photo.image? %>
                <%= image_tag (photo.image.thumb.url), class: "img-responsive img-thumbnail" %>
                <figcaption class="absolute"><h4>
                    <% if photo.item_name.include?("食") %>
                        <span class="label label-success">
                    <% else %>
                        <span class="label label-info">
                    <% end %>
                        <%= photo.item_name %>
                    </span></h4>
                    <% if photo.item_name.include?("食") %>
                        <p><%= photo.item_tag %></p>
                    <% else %>
                        <p><%= photo.item_value %></p>
                    <% end %>
                </figcaption>
            <% end %>
      </figure>
    </div>
    <div class="action clearfix">
        <span class="btn btn-default btn-lg">
            <% if photo.user_id == params[:id].to_i %>
                <%= link_to "自分のデータを編集" , edit_photo_path(photo) %>
            <% else %>
                <%= link_to "パートナーのデータを編集" , edit_photo_path(photo) %>
            <% end %>
        </span>
    </div>
</div>

</div>
</div>
