<header>
  <div class="navbar navbar-fixed-top navbar-inverse container nav-justified">
    <nav>
        <% if logged_in? %>
          <ul class="nav nav-pills">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "写真登録", root_path %></li>
          <li class="<%= 'active' if current_page?(user_path(session[:user_id])) %>"><%= link_to "タイムライン", user_path(session[:user_id]) %></li>
          <li class="<%= 'active' if current_page?(graph_path(session[:user_id])) %>"><%= link_to "グラフ", graph_path(session[:user_id])  %></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">MENU<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          </ul>
        <% else %>
          <li><h4>ペアダイエット</h4></li>
          <ul class="nav ">
          <li><%= link_to "Log in", login_path %></li>
          </ul>
        <% end %>

    </nav>
  </div>
</header>
