<header>
  <nav class="navbar navbar-fixed-top navbar-inverse">
  <div class = "container-fluid">
        <% if logged_in? %>
          <ul class="nav nav-pills">
          <li class="<%= 'active' if current_page?(user_path(session[:user_id])) %>">
            <%= link_to user_path(session[:user_id]) do %>
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              <br>
              ホーム
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(root_path) %>">
            <%= link_to  root_path  do %>
              <div id = "haedermenulogo">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                <br>
                写真登録
              </div>
            <% end %>
          </li>
          <li class="<%= 'active' if current_page?(graph_path(session[:user_id])) %>">
            <%= link_to  graph_path(session[:user_id])  do %>
              <div id = "haedermenulogo">
              <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
              <br>
              レポート
              </div>
            <% end %>
          </li>


          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <div id = "haedermenulogo">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="caret"></span>
            <br>
              設定
              </div>
            </a>


            <ul class="dropdown-menu">
              <li><%= link_to "設定" , edit_user_path(session[:user_id])  %></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          </ul>
        <% else %>
          <%= link_to "ずぼレコ", root_path, id: "logo" %>
          <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "ログインする", login_path %></li>
          </ul>
        <% end %>

    </div>
  </nav>
</header>
